---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jackett
  namespace: default
spec:
  chart:
    spec:
      chart: jackett
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
      version: 11.7.2
  interval: 15m
  values:
    image:
      repository: lscr.io/linuxserver/jackett
      tag: 0.20.4185
    env:
      TZ: America/Chicago
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          hajimari.io/enable: "true"
        hosts:
          - host: &host jackett.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: jackett-tls
    persistence:
      config:
        enabled: true
        mountPath: /config
        storageClass: nfs-client-ssd
